<h3 class="display-5 text-center text-info mt-2 ">Quick links</h3>
<hr class="bg-light">
<nav class="navbar navbar-dark bg-dark ">
        <ul class="navbar-nav flex-column ">
          <li class="nav-item mt-3">
            <a class="nav-link" >Some Link</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" >Some Link</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" >Some Link</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" >Some Link</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" >Some Link</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" >Some Link</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" >Some Link</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" >Some Link</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" >Some Link</a>
          </li>
        </ul>
      
  </nav>
