<h3 class="display-5 text-center text-info mt-2 ">Quick links</h3>
<hr class="bg-light">

        <ul class="list-group list-group-item-action bg-dark flex-column ">
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" routerLinkActive routerLink = "/placeAppointment" >Place Appointment</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" routerLinkActive routerLink = "/viewAppointment" >View Appointment</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" routerLinkActive routerLink = "/contact" >Contact Us</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" routerLinkActive routerLink = "/about" >About Us</a>
          </li>
        </ul>

        <h3 class="display-5 text-center text-info mt-2 ">Popular Blogs</h3>

          <hr class="bg-light">

        <ul class="list-group list-group-item-action bg-dark flex-column ">
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" href="https://putthatcheeseburgerdown.com/" >Put That Cheese Burger Down!</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" href="https://www.fitnessvsweightloss.com/" >Fitness vs weightloss</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" href="https://www.fitbewell.com/" >FitBeWell</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" href="https://pickyeaterblog.com/" >The Picky Eater</a>
          </li>
        </ul>
      
