<h3 class="display-5 text-center text-info mt-2 ">Quick links</h3>
<hr class="bg-light">

        <ul class="list-group list-group-item-action bg-dark flex-column ">
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" >Some Link</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" >Some Link</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" >Some Link</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" >Some Link</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" >Some Link</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" >Some Link</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" >Some Link</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" >Some Link</a>
          </li>
          <li class="list-group-item   bg-dark mt-1">
            <a class="list-group-item-action list-group-item bg-info text-light" >Some Link</a>
          </li>
        </ul>
      
