
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container-fluid">
          <a class="navbar-brand " >
                <img src="https://static.vecteezy.com/system/resources/thumbnails/000/595/164/small/04012019-28.jpg" alt="Brand-Logo" style="max-height: 100px;">
              </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
          </button>
          <div>
            <h1 class="display-3 text-light">Fitness Tracker</h1>
          </div>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink = "/home">Home 
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >Place Appointment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >View Appointment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink = "/search" >Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLink = "/about" >About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink = "/contact" >Contact Us</a>
              </li>

              <li class="nav-item" (click)="logout()" *ngIf = "isLoggedIn">
                <a class="nav-link btn-outline-danger" >Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>