<div class="container-fluid bg-dark">
    <app-header></app-header>
</div>

<div class="container-fluid mt-1" *ngIf = "!isLoggedIn">
    <div class="row justify-content-center ">
        <app-auth></app-auth>
    </div>  
</div>

<div class="container-fluid  bg-dark" *ngIf = "isLoggedIn">
    <div class="row">
        <div class="col-2  sidebar">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col border  mt-3" style="background-color: white;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark">
    <div class="row  justify-content-center ">
        <app-footer></app-footer>
    </div>
    
</div>
