<div class="container">
    <div class="row justify-content-center">
        <h3 class="display-3 text-dark">Welcome {{fullname}} !</h3>
    </div>
</div>

<div class="container mt-3 justify-content-center">
    <p class="mb-0 text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lectus justo, semper ut blandit in, scelerisque in orci. Donec vitae consectetur turpis. Integer sed leo blandit, venenatis augue et, hendrerit sapien. Sed nec urna id ex efficitur commodo. Nam tristique lorem nisi, nec pellentesque libero molestie at. Nulla id dui ac sapien rutrum posuere. Integer quis aliquet est, at bibendum elit. Donec leo erat, sodales id odio et, sagittis viverra turpis. Etiam blandit est consectetur, elementum dui non, efficitur nisi. Vestibulum non augue mi.

        Pellentesque congue at orci vitae rhoncus. Sed commodo tellus vel metus varius tristique cursus ac risus. Nam posuere tortor et dui porttitor maximus. In enim urna, venenatis vitae erat sed, tincidunt pharetra lorem. Sed mattis purus at feugiat elementum. Phasellus ut elementum dui. Etiam id diam eu massa pulvinar auctor. Etiam id nisi in eros molestie bibendum. Integer ornare vehicula dui, eget tempor justo aliquam eget. Fusce posuere odio turpis, et elementum magna placerat dapibus. Duis sagittis condimentum tempus. In sed convallis ante, ut bibendum est.
    </p>
</div>


<div class="container mt-3 justify-content-center">

    <div id="carouselExampleControls" class="carousel slide  justify-content-center" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <video src="./../../assets/videos/v1.mp4" controls style="max-height: 720px; max-width: 1080px;"></video>
            <div class="carousel-caption d-none d-md-block">
                <h5>Title</h5>
                <p>Caption</p>
            </div>
        </div>
          <div class="carousel-item text-center">
            <video src="./../../assets/videos/v2.mp4" controls style="max-height: 720px; max-width: 1080px;"></video>
            <div class="carousel-caption d-none d-md-block">
                <h5>Title</h5>
                <p>Caption</p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <video src="./../../assets/videos/v3.mp4" controls style="max-height: 720px; max-width: 1080px;"></video>
            <div class="carousel-caption d-none d-md-block">
                <h5>Title</h5>
                <p>Caption</p>
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

</div>

<div class="container mt-3 ">
    <div class="row justify-content-center">
        <h3 class="display-4 text-center">Want to be a trainer for us?</h3>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-8">
            <form class="form-group mt-3 border p-3" [formGroup]= "trainerForm" (ngSubmit) = "onApply()">
                <div class="row">
                    <div class="col text-center">
                        <label>Fullname</label>
                    </div>
                    <div class="col">
                        <input formControlName="fullname" type = "text" class="form-control" >
                    </div>
                </div>
                <span class="help-block ml-3" *ngIf = "!trainerForm.get('fullname').valid && trainerForm.get('fullname').touched "> <small>Please enter a Fullname! </small></span>
                
                <div class="row mt-3">
                    <div class="col text-center">
                        <label>Address</label>
                    </div>
                    <div class="col">
                        <input formControlName="address" type = "text" class="form-control" >
                    </div>
                </div>
                <span class="help-block" *ngIf = "!trainerForm.get('address').valid && trainerForm.get('address').touched "> <small>Please enter your address!</small></span>
        
                <div class="row mt-3">
                    <div class="col text-center">
                        <label>Email</label>
                    </div>
                    <div class="col">
                        <input formControlName="email" type = "email" class="form-control" >
                    </div>
                </div>
                <span class="help-block" *ngIf = "!trainerForm.get('email').valid && trainerForm.get('email').touched "> <small>Please enter a valid email!</small></span>
        
                <div class="row mt-3">
                    <div class="col text-center">
                        <label>Contact No</label>
                    </div>
                    <div class="col">
                        <input formControlName="phono" type = "tel" class="form-control" >
                    </div>
                </div>
                <span class="help-block" *ngIf = "!trainerForm.get('phono').valid && trainerForm.get('phono').touched "> <small>Please enter a valid contact no!</small></span>
            
            
                <div class="row justify-content-center mt-3">
                    <button data-toggle="modal" data-target="#exampleModal" type="submit" class="btn btn-outline-primary btn-lg" [disabled] = "!this.trainerForm.valid">Apply</button>
                </div>
            </form>

            <!--Modal Begin-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thank you for your interest in working with us!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p>We have recieved your details and we will contact you once we have processed your application.</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <!--Modal End-->
        </div>
    </div>
</div>
